body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

label {
  display: flex;
}

.placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #B1B1B1;
}

@media (max-width: 1599px) {
  .container {
    width: 95.5%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 95.7%;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.brand {
  display: flex;
  margin: 0 0 63px 0;
}

.brand__title-wrp {
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
  background-color: #F1E4E6;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  display: block;
  position: relative;
  margin: 20px;
}

.brand__title:before {
  content: '';
  width: 12px;
  height: 92px;
  position: absolute;
  background-color: #F16D7F;
  left: -28px;
  top: 5px;
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand__subtitle-pink {
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .brand {
    min-height: 370;
    margin: 0 0 20px 0;
  }
  .brand__img {
    width: 50vw;
    min-height: 370px;
    object-fit: cover;
  }
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    margin: 10px;
  }
  .brand__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .brand__subtitle-pink {
    font-size: 24px;
    line-height: 28px;
  }
  .brand__title-wrp {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
  .brand__title {
    font-size: 37px;
    line-height: 45px;
    margin: 10px;
  }
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .brand__subtitle-pink {
    font-size: 20px;
    line-height: 24px;
  }
  .brand__title-wrp {
    display: flex;
    justify-content: center;
    min-height: 343px;
  }
  .brand__title:before {
    content: '';
    height: 61px;
  }
}

.catalog__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.catalog__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 48px 0 16px 0;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 420px;
  background-color: #F8F8F8;
  padding: 0 0 20px 0;
  margin: 0 0 32px 0;
}

.catalog__item-overlay {
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.catalog__item-button-product {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 138px;
  min-height: 43px;
}

.catalog__item-button-basket {
  fill: #FFFFFF;
}

.catalog__item-button-basket:hover,
.catalog__item-button-basket:focus {
  fill: #222222;
}

.catalog__item-button-basket:active {
  fill: #FF0000;
}

.catalog__item-button-product:hover,
.catalog__item-button-product:focus {
  background: #F16D7F;
  color: #222222;
}

.catalog__item-button-product:active {
  fill: #FF0000;
  color: #FF0000;
}

.catalog__item-overlay,
.catalog__item-button-product {
  display: none;
}

.catalog__item-wrapper:hover .catalog__item-button-product,
.catalog__item-wrapper:hover .catalog__item-overlay {
  display: flex;
}

.catalog__item-wrapper {
  position: relative;
}

.catalog__item-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 25px 0 12px 18px;
}

.catalog__item-text {
  color: #5D5D5D;
  padding: 0 0 18px 18px;
}

.catalog__item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 0 18px;
  color: #F16D7F;
}

.catalog__button-wrp {
  display: flex;
  justify-content: center;
}

.catalog__button {
  width: 211px;
  min-height: 47px;
  border: 1px solid #FF6A6A;
}

.catalog__button:hover,
.catalog__button:focus {
  background: #F16D7F;
  cursor: pointer;
  outline: none;
}

.catalog__button:active {
  opacity: 0.5;
  background: #F1E4E6;
}

@media (max-width: 1599px) {
  .catalog__item {
    width: 49%;
    margin: 0 0 16px 0;
  }
  .catalog__list {
    margin: 72px 0 16px 0;
  }
  .catalog__item-img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .catalog__item {
    width: 100%;
    margin: 0 0 16px 0;
  }
  .catalog__list {
    margin: 64px 0 25px 0;
  }
  .catalog__item-img {
    width: 100%;
  }
}

.footer__wrp {
  background-image: url(../img/feedback.png);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__inner {
  display: flex;
  min-height: 448px;
  align-items: center;
}

.footer__content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.footer__subscribe {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.footer__button {
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 49px;
  width: 100px;
  margin: 32px 0 0 -3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
}

.footer__button:hover,
.footer__button:focus {
  outline: 1px solid #FF0000;
  background: #FFFFFF;
  cursor: pointer;
  color: #222222;
  text-decoration: underline;
}

.footer__button:active {
  opacity: 0.7;
  background: #F1E4E6;
  color: #222222;
}

.footer__input {
  height: 49px;
  width: 256px;
  margin: 32px 0 0 0;
  border: none;
  align-items: center;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #E1E1E1;
  padding: 0 0 0 0;
  text-align: center;
}

.footer__input:hover,
.footer__input:focus {
  outline: 1px solid #FF0000;
  background: #FFFFFF;
  cursor: pointer;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222222;
  padding: 0 6px 6px 22px;
  text-align: left;
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  width: 359px;
  margin: 20px 0 0 0;
}

.footer__title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.footer__text-desc {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__line {
  background-color: #222222;
}

.footer__line-link {
  margin: 0 7px 0 0;
}

.footer__line-link:hover,
.footer__line-link:focus {
  opacity: 0.3;
  cursor: pointer;
  outline: 1px solid #FFFFFF;
}

.footer__line-link:active {
  opacity: 0.8;
  outline: 1px solid #FF0000;
}

.footer__line-wrp {
  display: flex;
  justify-content: space-between;
  min-height: 79px;
  align-items: center;
}

.footer__line-list {
  display: flex;
}

.footer__line-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (max-width: 1599px) {
  .footer__wrp {
    background-size: cover;
    min-height: 614px;
  }
  .footer__content {
    margin: 54px 0 0 0;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer__text {
    margin: 20px 0 48px 0;
  }
}

@media (max-width: 767px) {
  .footer__wrp {
    background-size: cover;
    min-height: 693px;
  }
  .footer__content {
    margin: 54px 0 0 0;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer__text {
    margin: 20px 0 59px 0;
    width: 343px;
  }
  .footer__text-desc {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
  }
  .footer__button {
    height: 47px;
    width: 96px;
  }
  .footer__input {
    height: 47px;
    width: 245px;
  }
  .footer__line-wrp {
    display: flex;
    flex-direction: column-reverse;
    min-height: 143px;
    justify-content: center;
  }
  .footer__line-list {
    margin: 43px 0 40px 0;
  }
  .footer__line-text {
    margin: 0 0 24px 0;
  }
}

.form__registration {
  display: flex;
  margin: 64px 0 96px 0;
}

.form__input {
  width: 360px;
  min-height: 44px;
  padding: 0 0 0 17px;
  text-align: left;
  margin: 0 0 20px 0;
}

.form__legend {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.form__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.form__radio {
  display: flex;
  margin: 11px 0 33px 0;
}

.form__button {
  width: 167px;
  min-height: 50px;
  text-transform: uppercase;
  background-color: #F16D7F;
  color: #FFFFFF;
  margin: 39px 0 0 0;
  border: none;
  position: relative;
}

.form__button:before {
  content: '';
  width: 17px;
  height: 9px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../img/arrow.svg);
  background-size: 17px 9px;
}

.form__button:hover,
.form__button:focus {
  background: #FFFFFF;
  cursor: pointer;
  outline: none;
  color: #222222;
  border: 1px solid #FF0000;
}

.form__button:active {
  background: #F1E4E6;
  color: #FF0000;
}

@media (max-width: 1599px) {
  .form__registration {
    margin: 40px 0 96px 0;
  }
  .form {
    width: 48.8%;
  }
  .form__input {
    width: 98%;
  }
}

@media (max-width: 767px) {
  .form__registration {
    flex-wrap: wrap;
  }
  .form {
    width: 95.7%;
  }
  .form__input {
    width: 98%;
  }
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
  position: relative;
}

.header__logo {
  margin: 0 41px 0 0;
  width: 44px;
  height: 38px;
}

.header__button-burger {
  fill: #FFFFFF;
}

.header__button-burger:hover,
.header__button-burger:focus {
  fill: #F16D7F;
}

.header__button-burger:active {
  fill: #FF0000;
}

.header__button__burger {
  display: flex;
  justify-content: flex-end;
  min-height: 20px;
  cursor: pointer;
}

.header__nav {
  position: absolute;
  top: 100%;
  right: -20%;
  background: #FFFFFF;
  display: none;
  min-height: 764px;
  width: 232px;
  z-index: 100;
}

.header__nav:before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 17px;
  background-image: url(../img/cross.svg);
  background-size: 12px 12px;
}

.header__nav-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  padding: 32px 0 4px 37px;
}

.header__link-img {
  fill: #FFFFFF;
}

.header__link-img:hover,
.header__link-img:focus {
  fill: #F16D7F;
}

.header__link-img:active {
  fill: #FF0000;
}

.header__link-basket {
  fill: #FFFFFF;
}

.header__link-basket:hover,
.header__link-basket:focus {
  fill: #F16D7F;
}

.header__link-basket:active {
  fill: #FF0000;
}

.header__list {
  display: flex;
}

.header__link {
  margin: 0 0 0 34px;
}

.header__button {
  border: none;
  background-color: transparent;
}

.wrp {
  width: 100%;
  display: none;
}

.display-block {
  display: block;
}

.header__inner {
  display: flex;
}

.header__search {
  padding: 3px 35px;
  border: none;
  outline: 1px solid black;
  min-height: 50px;
  background-color: #222222;
  color: #FFFFFF;
}

.header__form {
  position: relative;
}

.header__search:hover {
  outline: 1px solid #FFFFFF;
}

.header__form:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background: #222222;
  top: 11px;
  left: 2px;
  background-image: url(../img/icon/loupe.svg);
  background-size: 26px 26px;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
  .header__button-burger {
    margin: 0 26px 0 0;
  }
  .header__search {
    min-height: 40px;
    width: 140px;
  }
  .header__form:before {
    top: 7px;
  }
}

.information {
  background-color: #222222;
  margin: 95px 0 0 0;
}

.information__wrp {
  display: flex;
  min-height: 341px;
}

.information__list {
  display: flex;
  align-items: center;
  text-align: center;
}

.information__img {
  padding: 0 0 25px 0;
}

.information__title {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 0 16px 0;
  color: #FBFBFB;
}

.information__text {
  font-size: 13px;
  line-height: 17px;
  color: #FBFBFB;
}

.information__text3 {
  font-size: 13px;
  line-height: 17px;
  color: #FBFBFB;
}

@media (max-width: 1599px) {
  .information__wrp {
    min-height: 610px;
    align-items: center;
    justify-content: center;
  }
  .information__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 49%;
  }
  .information__text {
    padding: 0 0 48px 0;
    width: 360px;
  }
  .information__img {
    padding: 0 0 28px 0;
  }
  .information__text3 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .information__wrp {
    min-height: 610px;
    align-items: center;
    justify-content: center;
  }
  .information__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 92.5%;
  }
  .information__text {
    padding: 0 0 47px 0;
    width: 347px;
  }
  .information__img {
    padding: 0 0 27px 0;
  }
  .information__title {
    padding: 0 0 14px 0;
  }
  .information__text3 {
    width: 347px;
  }
}

.nav-sub-item__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 0 0 0 33px;
}

.nav-sub-item {
  padding: 20px 0 0 0;
}

.nav-sub-item__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  padding: 12px 0 0 55px;
}

.nav-sub-item__title {
  text-decoration: none;
}

.nav-sub-item__item-link {
  text-decoration: none;
  color: #222222;
}

.nav-sub-item__item-link:hover,
.nav-sub-item__item-link:focus {
  color: #5D5D5D;
  text-decoration: underline;
}

.nav-sub-item__item-link:active {
  color: #FF0000;
}

.program__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 0 0 22px 0;
}

.program__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding: 0 0 21px 0;
}

.program__items {
  margin: 0;
  list-style: none;
}

.program__item {
  position: relative;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding: 0 0 16px 0;
}

.program__item:before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: -43px;
  background-image: url(../img/check.svg);
  background-size: 20px 16px;
}

.program__section {
  margin: 0 0 0 128px;
}

.program__item {
  margin: 0 0 0 43px;
}

@media (max-width: 1599px) {
  .program__section {
    margin: 0 0 0 22px;
    width: 48.2%;
  }
  .program__title {
    font-size: 16px;
  }
  .program__text {
    font-size: 16px;
  }
  .program__item {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .program__section {
    margin: 56px 0 0 0;
    width: 95.7%;
  }
  .program__title {
    font-size: 16px;
  }
  .program__text {
    font-size: 16px;
  }
  .program__item {
    font-size: 16px;
  }
}

.registration__wrp {
  background-color: #F8F3F4;
  min-height: 148px;
  width: 100%;
}

.registration__title {
  color: #F16D7F;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 59px 0 0 0;
}

@media (max-width: 767px) {
  .registration__title {
    text-align: center;
  }
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  width: 360px;
  min-height: 260px;
  background-color: #4F4745;
}

.sales__item-women {
  background-image: url(../img/sales-woman-bkg.jpg);
}

.sales__item-men {
  background-image: url(../img/sales-men-bkg.jpg);
}

.sales__item-kids {
  background-image: url(../img/sales-bebu-bkg.jpg);
}

.sales__item-accesories {
  width: 100%;
  background-image: url(../img/sales-acces-bkg.jpg);
  min-height: 180px;
  margin: 30px 0 97px 0;
}

.sales__text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.sales__title {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
}

@media (max-width: 1599px) {
  .sales__item {
    width: 31.6%;
    min-height: 167px;
  }
  .sales__item-accesories {
    width: 100%;
    min-height: 116px;
    margin: 19px 0 154px 0;
  }
  .sales__item-women {
    background-position: top;
    background-size: cover;
  }
  .sales__item-men {
    background-position: top;
    background-size: cover;
  }
  .sales__item-kids {
    background-position: top;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px 0;
  }
  .sales__item-accesories {
    min-height: 116px;
    margin: 0 0 64px 0;
  }
  .sales__item-women {
    background-size: cover;
  }
  .sales__item-men {
    background-size: cover;
  }
  .sales__item-kids {
    background-size: cover;
  }
  .sales__item-accesories {
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */