
    $black: #222222;
    $light-pink: #F1E4E6;
    $dark--pink: #F16D7F;
    $sales-bkg-color: #4F4745;
    $sales-text-white: #FFFFFF;
    $catalog-bcg-color: #F8F8F8;
    $catalog--item-text: #5D5D5D;
    $information--text: #FBFBFB;
    $footer--input-bcg: #E1E1E1;
    $red: #FF0000;
    $registration-bcg: #F8F3F4;
    $registration-input: #B1B1B1;
    $catalog__item-overlay: rgba(58, 56, 56, 0.86);
    $carousel__wrp: #F7F7F7;

    $desktop-width: 1599px;
    $tablet-width: 767px;