.footer__wrp {
    background-image: url(../img/feedback.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__inner {
    display: flex;
    min-height: 448px;
    align-items: center;
}

.footer__content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.footer__subscribe {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.footer__button {
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 49px;
    width: 100px;
    margin: 32px 0 0 -3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background-color: $dark--pink;
    color: $sales-text-white;
}

.footer__button:hover,
.footer__button:focus {
    outline: 1px solid $red;
    background: $sales-text-white;
    cursor: pointer;
    color: $black;
    text-decoration: underline;
}

.footer__button:active {
    opacity: 0.7;
    background: $light-pink;
    color: $black;
}

.footer__input {
    height: 49px;
    width: 256px;
    margin: 32px 0 0 0;
    border: none;
    align-items: center;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: $footer--input-bcg;
    padding: 0 0 0 0;
    text-align: center;
}

.footer__input:hover,
.footer__input:focus {
    outline: 1px solid $red;
    background: $sales-text-white;
    cursor: pointer;
}

.footer__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.67;
    color: $black;
    padding: 0 6px 6px 22px;
    text-align: left
}

.footer__text {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    width: 359px;
    margin: 20px 0 0 0;
}

.footer__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.footer__text-desc {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__line {
    background-color: $black;
}

.footer__line-link {
    margin: 0 7px 0 0;
}

.footer__line-link:hover,
.footer__line-link:focus {
    opacity: 0.3;
    cursor: pointer;
    outline: 1px solid $sales-text-white;
}

.footer__line-link:active {
    opacity: 0.8;
    outline: 1px solid $red;
}

.footer__line-wrp {
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    align-items: center;
}

.footer__line-list {
    display: flex;
}

.footer__line-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $sales-text-white;
}

@media (max-width: $desktop-width) {
    .footer__wrp {
       background-size: cover;
       min-height: 614px;
    }

    .footer__content {
        margin: 54px 0 0 0;
    }

    .footer__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer__text {
        margin: 20px 0 48px 0;
    }
    
}

@media (max-width: $tablet-width) {
    .footer__wrp {
        background-size: cover;
        min-height: 693px;
     }

     .footer__content {
        margin: 54px 0 0 0;
    }

    .footer__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer__text {
        margin: 20px 0 59px 0;
        width: 343px;
    }

    .footer__text-desc {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
    }

    .footer__button {
        height: 47px;
        width: 96px;
    }

    .footer__input {
        height: 47px;
        width: 245px;
    }

    .footer__line-wrp {
        display: flex;
        flex-direction: column-reverse;
        min-height: 143px;
        justify-content: center;
    }

    .footer__line-list {
        margin: 43px 0 40px 0;
    }
 
    .footer__line-text {
        margin: 0 0 24px 0;
    }

}