.registration__wrp {
    background-color: $registration-bcg;
    min-height: 148px;
    width: 100%;
}

.registration__title {
    color: $dark--pink;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 59px 0 0 0;
}

@media (max-width: $tablet-width) {
    
    .registration__title {
        text-align: center;
    }
    
}